{
  "extends": ["airbnb-base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["import", "@typescript-eslint", "jest"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".ts"]
      },
      "alias": {
        "map": [["@app", "./src"]],
        "extensions": [".ts", ".js", ".json"]
      }
    }
  },
  "env": { "jest/globals": true },
  "rules": {
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "consistent-return": "off",
    "object-property-newline": "off",
    "object-curly-newline": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "func-names": "off",
    "max-len": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ]
  }
}
