{
  "extends": ["airbnb-base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      },
      "alias": {
        "map": [["@app", "./src"]],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "consistent-return": 0,
    "object-property-newline": 0,
    "object-curly-newline": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "implicit-arrow-linebreak": 0,
    "no-console": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "func-names": 0,
    "max-len": 0
  }
}
