{
  "extends": ["airbnb-base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint", "jest"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".js", ".json"]
      },
      "alias": {
        "map": [["@app", "./src"]],
        "extensions": [".ts", ".js", ".json"]
      }
    }
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "camelcase": "off",
    "consistent-return": "off",
    "object-property-newline": "off",
    "object-curly-newline": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "import/extensions": ["error", "ignorePackages", { "js": "never", "ts": "never" }],
    "lines-between-class-members": "off",
    "max-len": "off",
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "func-names": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ]
  }
}
